body {
    font-family: Helvetica, "Helvetica Neue", SansSerif;
    background-color: papayawhip;
}

#wrapper {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
}

#menu li {
    display: inline;
}

#menu {
    height: 80px;
    line-height: 80px;
    width: 366px;
    float: right;
    background-color: yellowgreen;
}

#menu ul {
    margin: 0px;
}

#logo {
    width: 590px;
    float: left;
    background-color: whitesmoke;
}

#banner {
    clear: both;
    background-image: url("../images/college_students.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 580px;
}

#hero-text {
    position: relative;
    background-color: aquamarine;
    width: 367px;
    top: 50px;
    left: 100px;

}

#panel_one {
    background-color: yellowgreen;
}

#panel2 {
    background-color: papayawhip;
}

#panel3 {
    background-color: yellowgreen;
}

#footer {
    text-align: center;
    clear: both;
}

.thin_border {
    border: 1px solid black
}

.std-panel {
    float: left;
    width: 256px;
    padding-left: 31px;
    padding-right: 31px;
}